BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
PointerAlignment: Left
IndentCaseLabels: false
IndentCaseBlocks: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
